*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.container {
    background: #06040f;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-player{
    background: #130e30;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 35px;
    border-radius: 15px;
    
}
.conteudo-musica {
    
    p{
        font-size: 1.8rem;
    }
    span{
        font-size: 0.9rem;
    }
    .fundo{
        border-radius: 5px;
    }
}
.controles {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    button{
        margin-right: 10px;
    }
}
.progresso-musica {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    input{
        width: 100%;
    }
}
.tempo-musica {
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    padding: 5px;
    span{
        padding: 5px;
    }
}